  body {
    background-color: #FEFACA;
    font-family: 'Raleway', sans-serif;
  }


.navbar {
    background-color: #004f39 !important;
  }

  .navbar-brand {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
  }
  

  .bg {
    background-color: #004f39; 
  }

  .icono-carrito {
    height: 50px;    
    width: auto;     
    filter: brightness(0) saturate(100%) invert(1);
  }